export PATH=$PATH:$HOME/bin
# Make vim the default editor
export EDITOR="vim"
# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"
# Highlight section titles in manual pages
export LESS_TERMCAP_md="$RED"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups
# Make some commands not show up in history
export HISTIGNORE="ls:ls *:la:l:h:cd:cd -:pwd;exit:date:* --help"

# GNUPG
export GPG_TTY=`tty`
export GNUPGHOME=$HOME/.keys/.gnupg
# virtualenv
export WORKON_HOME=$HOME/dev/pve
#export VIRTUALENVWRAPPER_PYTHON=/usr/local/bin/python
export VIRTUALENVWRAPPER_VIRTUALENV_ARGS='--no-site-packages'
export PIP_VIRTUALENV_BASE=$WORKON_HOME
export PIP_RESPECT_VIRTUALENV=true

# Google App Engine SDK
export GAE_SDK_PATH=/usr/local/google_appengine

