[submodule ".vim/bundle/vim-jade"]
	path = .vim/bundle/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/python-mode"]
	path = .vim/bundle/python-mode
	url = git://github.com/klen/python-mode.git
[submodule ".vim/bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
